.card-text {
    margin-bottom: 0.3em;
}
.icons-row {
    display: flex;
    justify-content: center;
}
.icons-row a {
    margin: 0.2em;
}
.concert-icons-for-animate {
    position: absolute;
    bottom: -60%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 1;
} 
.concert-icons-no-animate {
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 1;
}

.user-card:hover .concert-icons-for-animate {
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}

.width-100 {
    width: 100% !important;
    right: 0% !important;
}
.width-125 {
    width: 125%;
    right: 12.5%;
}
.width-135 {
    width: 135%;
    right: 17.5%;
}
.width-145 {
    width: 145%;
    right: 22.5%;
}
.width-165 {
    width: 165%;
    right: 32.5%;
}