<mat-card class="user-card" *ngIf="concert">
    <div>
        <div class="example-button-container" style="display: flex; justify-content: flex-end;">
            <button (click)="removeUserConcert()" mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
              <mat-icon>close</mat-icon>
            </button>
          </div>
    <mat-card-content class="card-content">
        <div class="card-img-wrapper">
            <img #cardImg mat-card-image [ngClass]="{
                'width-125': currentBreakpoint === Breakpoints.XLarge || currentBreakpoint === Breakpoints.Large || currentBreakpoint === Breakpoints.Medium,
                'width-145': currentBreakpoint === Breakpoints.Small,
                'width-165': currentBreakpoint === smallerBreakpoint,
                'width-135': currentBreakpoint === Breakpoints.XSmall,
                'width-100': isDefaultImage
            }" class="card-img" src="{{concert.imageUrl || './assets/user.png'}}" alt="{{concert.artistName}}">
            <!-- [ngClass]="{'width-100': './assets/user.png'}" -->
            <mat-action-list class="card-icon-container animate" role="list"
            [ngClass]="{
                'concert-icons-for-animate': currentBreakpoint === Breakpoints.XLarge || currentBreakpoint === Breakpoints.Large,
                'concert-icons-no-animate' : currentBreakpoint === Breakpoints.Medium || currentBreakpoint === Breakpoints.Small || currentBreakpoint === Breakpoints.XSmall
            }">
                <div class="icons-row">
                    <a *ngIf="concert.fbUrl" mat-mini-fab href="{{concert.fbUrl}}" class="btn " target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a *ngIf="concert.instagramUrl" mat-mini-fab href="{{concert.instagramUrl}}" class="btn btn-primary" target="_blank">
                        <i class='fab fa-instagram'></i>
                    </a>
                    <a *ngIf="concert.twitterUrl" mat-mini-fab href="{{concert.twitterUrl}}" class="btn btn-primary" target="_blank">
                        <i class='fab fa-twitter'></i>
                    </a>
                </div>
                <div class="icons-row">
                    <a *ngIf="concert.spotifyUrl" mat-mini-fab href="{{concert.spotifyUrl}}" class="btn btn-primary" target="_blank">
                        <i class='fab fa-spotify'></i>
                    </a>
                    <a *ngIf="concert.youtubeUrl" mat-mini-fab href="{{concert.youtubeUrl}}" class="btn btn-primary" target="_blank">
                        <i class='fab fa-youtube'></i>
                    </a>
                </div>
            </mat-action-list>
        </div>
    </mat-card-content>
    <div class="card-footer light-theme">
    <mat-card-footer style="padding: 10px;">
        <h2 class="text-center mb-2">
            <span class="card-title">
            {{concert.artistName}}
            </span>
        </h2>
        <!-- <span class="card-text city-text text-center">{{concert.eventName}}</span>
        <span class="card-text city-text text-center">{{concert.eventDate | date: 'LLL d, y, h:mm a'}}</span>
        <span class="card-text city-text text-center">{{concert.venue}}</span>
        <span class="card-text city-text text-center">{{concert.city}}</span>
        <span *ngIf="concert.homepageUrl" class="card-text city-text text-center"><span><a href="{{concert.homepageUrl}}" target="_blank">{{concert.artistName}} Homepage</a></span></span> -->
        <p class="card-text city-text text-center">{{concert.eventName}}</p>
        <p class="card-text city-text text-center">{{concert.eventDate | date: 'LLL d, y, h:mm a'}}</p>
        <p class="card-text city-text text-center">{{concert.venue}}</p>
        <p class="card-text city-text text-center">{{concert.city}}</p>
        <p *ngIf="concert.homepageUrl" class="card-text city-text text-center"><span><a class="concert-link" href="{{concert.homepageUrl}}" target="_blank">{{concert.artistName}} Homepage</a></span></p>
        <!-- <a href="{{concert.homepageUrl}}" *ngIf="concert.homepageUrl" class="card-text city-text text-center">{{concert.homepageUrl}}</a> -->
    </mat-card-footer>
    </div>
    </div>
</mat-card>