<mat-card class="user-card" [ngClass]="{
    'user-card-hover': currentBreakpoint === Breakpoints.XLarge || currentBreakpoint === Breakpoints.Large
}" *ngIf="member">
    <div>
    <!-- <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header> -->
    <!-- <div class="card-img-wrapper">
        <img mat-card-image src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}">
    </div> -->
    
    <mat-card-content class="card-content">
        <div class="card-img-wrapper">
            <img mat-card-image class="card-img" src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}">
        
            <mat-action-list class="card-icon-container animate" role="list"
            [ngClass]="{
                'member-icons-for-animate': currentBreakpoint === Breakpoints.XLarge || currentBreakpoint === Breakpoints.Large,
                'member-icons-no-animate' : currentBreakpoint === Breakpoints.Medium || currentBreakpoint === Breakpoints.Small || currentBreakpoint === Breakpoints.XSmall
            }">
                    <button mat-fab routerLink='/members/{{member.username}}' class="btn btn-primary">
                        <i class="fa fa-user"></i>
                    </button>
                    <button mat-fab (click)="addLike(member)" class="btn btn-primary">
                        <i class="fa fa-heart"></i>
                    </button>
                    <button 
                        mat-fab 
                        routerLink='/members/{{member.username}}' 
                        [queryParams]='{tab: 3}'
                        class="btn btn-primary">
                    <i class="fa fa-envelope"></i></button>
            </mat-action-list>
            <!-- <mat-list class="card-icon-container member-icons animate" role="list">
                <mat-list-item role="listitem">
                    <button mat-fab routerLink='/members/{{member.username}}' class="btn btn-primary">
                        <i class="fa fa-user"></i>
                    </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <button mat-fab (click)="addLike(member)" class="btn btn-primary">
                        <i class="fa fa-heart"></i>
                    </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <button
                        mat-fab 
                        routerLink='/members/{{member.username}}' 
                        [queryParams]='{tab: 3}'
                        class="btn btn-primary">
                    <i class="fa fa-envelope"></i></button>
                </mat-list-item>
            </mat-list> -->
        </div>
        <!-- </div> -->
    </mat-card-content>
    <!-- <mat-card-actions>
    </mat-card-actions> -->
    <div class="card-footer light-theme">
    <mat-card-footer style="padding: 10px;">
        <h3 class="text-center mb-1">
            <span class="user-icon" [class.is-online]="(presenceService.onlineUsers$ | async)?.includes(member.username)">
                <i class="fa fa-user me-2"></i>
            </span>
            <span style="color: white;">
            {{member.knownAs}}, {{member.age}}
            </span>
        </h3>
        <p class="card-text city-text text-center">{{member.city}}</p>
    </mat-card-footer>
    </div>
    </div>
</mat-card>