.search-list {
    background-color: lightgray;
}
.search-list-item {
    align-items: center;
    padding-bottom: .5rem;;
}
.list-item-container {
    display: flex;
    align-items: center;
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
} 
// .concert-info {
//     flex: 
// }
.date-container {
    flex-grow: 1;
    text-align: center;
    padding-right: 1rem;
    margin-bottom: 0.3rem;
}
.add-button-container {
    overflow: visible;
    text-align: end;
}
div:has(> .list-item-container) {
    margin-top: 0.3rem !important;
    margin-bottom: 0.3rem !important;
}


.mobile-pagination-pad-portrait {
    // margin-bottom: 2em;
    // padding-bottom: 3em;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80vw;
    // margin-bottom: 40px;
    // padding-bottom: 80px;
}
.mobile-pagination-pad-landscape {
    margin-bottom: 3em;
    padding-bottom: 2em;
}
// .search-results {
//     overflow: scroll;
//     height: 70vh;
// }