@use 'sass:map';
@use '@angular/material' as mat;
@use "../palettes/light_green" as pal;

// @import './'
  
@mixin user-card($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $contrast: map-get($theme, warn);
    //$extended: map-get(pal.$mat-light-green, extended);
    // .card-footer {
    //     background-color: map-get($accent, lighter) !important;
    // }
    .user-card {
        //background-color: #626b76 !important;
        //background-color: map-get($primary, 900) !important;
        background-color: map-get(pal.$mat-light-green, primary-var, hex) !important;
    }
    .city-text {
        //color:map-get($primary, A100 ) !important;
        //color:map-get($primary-contrast, 300 ) !important;
        // color:map-get($primary-contrast, 500 ) !important;
        
        //color:map-get(pal.$mat-light-green, on-surface) !important;
        color: whitesmoke;
    }

    .card-title {
        //color:map-get(pal.$mat-light-green, on-primary) !important;
        //color: #8C9184!important;
        color:map-get($contrast, 800 ) !important;
    }
    .concert-link {
        color:map-get(pal.$mat-light-green, contrast) !important;
        // color: #d6d8dc;
    }
    .user-icon {
        color: #e0e5ec;
    }
  }

@mixin nav($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    //$extended: map-get(pal.$mat-light-green, extended);
    // .card-footer {
    //     background-color: map-get($accent, lighter) !important;
    // }
    .toolbar-nav {
        //background-color: #626b76 !important;
        //background-color: map-get($primary, 900) !important;
        //background-color: map-get(pal.$mat-light-green, primary-var, hex) !important;
        background: linear-gradient(135deg, map-get(pal.$mat-light-green, primary-var, hex) 0%, map-get(pal.$mat-light-green, primary-var, lighter) 50%, map-get(pal.$mat-light-green, primary-var, hex) 100%) !important;
    
        button:hover,
        .active-link {
        //   color: map-get(pal.$mat-light-green, secondary, hex) !important;
          color: map-get($accent, 400) !important;
        }
    }
    //.nav-items { background-color: inherit;}
  }

@mixin filter($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
   
    .mat-expansion-panel {
        // background-color: map-get(pal.$mat-light-green, primary-var, lighter) !important;
        //background-color: map-get($accent, 50) !important;
        background: linear-gradient(135deg, map-get($primary, 200) 0%, map-get($primary, 800) 50%, map-get($primary, 100) 100%) !important;
        //background: linear-gradient(135deg, map-get($accent, 300) 0%, map-get($accent, 800) 50%, map-get($accent, 500) 100%) !important;

   }
    .mat-expansion-panel-header {
        // background-color: map-get(pal.$mat-light-green, primary-var, lighter) !important;
        background: map-get($primary, 500) !important;
        //background: linear-gradient(135deg, map-get(pal.$mat-light-green, surface) 0%, map-get(pal.$mat-light-green, secondary, hex) 50%, map-get(pal.$mat-light-green, background-color) 100%) !important;
        //background: linear-gradient(135deg, map-get($accent, 300) 0%, map-get($accent, 800) 50%, map-get($accent, 500) 100%) !important;

   }
  }

@mixin concert-buttons($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $contrast: map-get($theme, warn);

    .tab-links.tab-button {
        background:map-get($accent, 800 ) !important;
    }
   
    .tab-links {
        background:map-get($accent, 100 ) !important;
    }
    // .mdc-button {
    //     background:map-get($accent, 100 );
    // }
  }

@mixin search-form($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $contrast: map-get($theme, warn);

    .search-form-field > .mdc-text-field {
        background-color: map-get(pal.$mat-light-green, primary-var, darker) !important;
        @include mat.elevation(4);
    }

    .search-form-field > button {
        color: map-get($accent, 500) !important;
    }

    .search-input {
        color: map-get(pal.$mat-light-green, primary-var, lighter) !important;
    }
    .search-input::placeholder {
        color: map-get(pal.$mat-light-green, primary-var, lighter) !important;
    }

    .search-button {
        color: map-get(pal.$mat-light-green, primary-var, lighter) !important;
    }
   
  }
@mixin search-list($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $contrast: map-get($theme, warn);

    .search-list {
        background-color: map-get(pal.$mat-light-green, primary-var, hex);
        @include mat.elevation(10);
        height: 68vh;
        overflow-y: scroll;
    }
    .mat-divider {
        border-top-width: 0.15em;
        border-top-color: map-get($accent, 300);
        // border-top-color: map-get(pal.$mat-light-green, secondary, hex);
    }

    #add-concert-button {
        background-color: map-get($contrast, 500);
        color: map-get(pal.$mat-light-green, surface);
    }
    // .list-item-container {
    //     @include mat.elevation(1);
    // }

   
  }

  @mixin messages($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $contrast: map-get($theme, warn);

    .unread-dot {
        background:map-get($accent, 900 ) !important;
        border-radius: 50%;
        width: 1.2em;
        height: 1.2em;
    }

    .online-border {
        border: 2px solid map-get($accent, 900)
    }

    .sender {
        background-color: map-get($primary, 900);
    }
    
    .recepient {
        background-color: map-get($accent, 500);
    }

    
    // .conversation:hover {
    //     background-color: map-get($accent, 100);
    // }
    // .conversation-selected {
    //     background-color: map-get($accent, 100);
    // }
    .match-avatar-container:hover {
        .gradient-container {
            background: radial-gradient(map-get($accent, 500), transparent 78%); 
            // background: radial-gradient(#ffd2e9, transparent 78%); 
            filter: brightness(1.1);
        }
        // .match-avatar {
        //     filter: brightness(0.8);
        // }
        // background: radial-gradient(ellipse at top, map-get($accent, 800), transparent),
        //     radial-gradient(ellipse at bottom, map-get($contrast, 500), transparent);
        // background-image: radial-gradient(cyan 0%, transparent 20%, salmon 40%);
    }
    .list-item-container {
        @include mat.elevation-transition();
    }
    .list-item-selected {
        //background: radial-gradient(map-get($accent, 400), map-get($accent, 100)); 

        // background: radial-gradient(map-get($accent, 400), transparent); 
        // background: radial-gradient(transparent, map-get($accent, 400) ); 
        // background: radial-gradient(map-get($accent, 100), map-get($accent, 400) ); 
        background: radial-gradient(#ffffff, map-get($accent, 300) );
        @include mat.elevation(1);
    }
    .list-item-container:hover {
        // background: radial-gradient(map-get($accent, 300), map-get($accent, 100)); 
         
        // background: radial-gradient(map-get($accent, 300), transparent); 
        // background: radial-gradient(transparent, map-get($accent, 300) );
        // background: radial-gradient(map-get($accent, 100), map-get($accent, 300) );
        background: radial-gradient(#ffffff, map-get($accent, 300) );
        
        @include mat.elevation(1);    
    }

    .match-selected {
        background: radial-gradient(map-get($accent, 500), transparent 78%); 
        filter: brightness(1.1);
    }

    .message-header {
        background: radial-gradient(map-get($primary, 200), map-get($primary, 700)); 
    }
    .send-button {
        background-color: map-get($contrast, 500) !important;
        color: map-get(pal.$mat-light-green, surface) !important;
    }
    .send-button:disabled {
        filter: brightness(0.8);
    }
    .message-input {
        caret-color: map-get($contrast, 500 ) !important;
    }
    .mdc-line-ripple::before {
        //border-bottom-color: map-get($contrast, 500 ) !important;
        border-bottom-color: transparent !important;
    }
    .mdc-line-ripple::after {
        border-bottom-color: map-get($contrast, 500 ) !important;
    }

    .message-header:hover {
        color: map-get($accent, 500) !important;
        //flex: 1 1 auto;
    }
  }

  @mixin member-profile($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $contrast: map-get($theme, warn);

    .gradient {
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
        // background: linear-gradient(135deg, map-get($accent, 900), transparent),
        //             linear-gradient(336deg, map-get($contrast, 900) 20%, white);
        
        background: linear-gradient(135deg, map-get($contrast, 900) 5%, transparent),
                    linear-gradient(336deg, map-get($accent, 900) 20%, white);
        
        // background: radial-gradient(ellipse at top left, map-get($accent, 900) 23%, transparent),
        // radial-gradient(ellipse at bottom right, map-get($contrast, 900) 23%, map-get($contrast, 500));
       
    }
    .name-online-small {
        //background: linear-gradient(0deg, black, transparent);
       // background: linear-gradient(10deg, #ffb6b9 10%, #fae3d9 20%, #bbded6 30%, #8ac6d1 40%, transparent 50%, transparent);
        //background: linear-gradient(10deg, map-get($accent, 900), map-get($accent, 300) 30%, map-get($primary, 300) 40%, map-get($primary, 900) 50%,   transparent 60%, transparent);
        //background: linear-gradient(135deg, map-get(pal.$mat-light-green, secondary-var, hex) 0%, map-get(pal.$mat-light-green, secondary-var, lighter) 50%, map-get(pal.$mat-light-green, secondary-var, hex) 100%) !important;
        // Sunruse
        //background: linear-gradient(10deg, #FFD700, #FFA500 30%, #FF8C00 40%, #FF4500 50%, transparent 60%);
        // Ocean Breeze
        //background: linear-gradient(10deg, #87CEEB, #4682B4 30%, #4169E1 40%, #0000FF 50%, transparent 60%);
        // Forest Canopy
        //background: linear-gradient(10deg, #228B22, #008000 30%, #006400 40%, #006400 50%, transparent 60%);
        // Cotton Candy
       // background: linear-gradient(10deg, #FFC0CB, #FF69B4 30%, #FF1493 40%, #4169E1 50%, transparent 60%);
        // Lemon Sorbet
    //    background: linear-gradient(10deg, #FFFACD, #FFD700 30%, #FFA500 40%, #FF6347 50%, transparent 60%);
        // Minty Fresh
    //    background: linear-gradient(10deg, #98FB98, #00FF7F 30%, #00FA9A 40%, #008000 50%, transparent 60%);
    
    
    // Romantic sunset
    //background: linear-gradient(10deg, #FF6B6B, #FFC3A0 45%, transparent 60%,);
    //Enchanting Twilight 
    //background: linear-gradient(10deg, #9B59B6,  #3498DB 45%, transparent 60%);
// Whimsical Stargazing
    //background: linear-gradient(10deg, #F39C12, #2980B9 45%, transparent 60%, );

    // Whispering Breeze
    //background: linear-gradient(10deg, #F0E68C, #87CEEB 45%, transparent 60%);
    // Moonlit Serenade
    // background: linear-gradient(10deg, #D8BFD8, #FFD700 45%, transparent 60%);
    // Starry Night
    // background: linear-gradient(10deg, #483D8B, #FFA07A 45%, transparent 60%);
    // background: linear-gradient(10deg, radial-gradient(
    //     farthest-side at bottom left,
    //     rgba(255, 0, 255, 0.5), 
    //     transparent
    //   ),
    //   radial-gradient(
    //     farthest-corner at bottom right,
    //     rgba(255, 50, 50, 0.5), 
    //     transparent 400px
    //   ) 30%, transparent 60%);

}

    .profile-info {
        // background-color: map-get($contrast, 900 );
        background-color: #1e293a;
    }

    .bio-header {
        background: linear-gradient(135deg, map-get($accent, 900), map-get($accent, 300));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        //color: radial-gradient(map-get($accent, 300), map-get($accent, 900));
    }

    .profile-location > h2 {
        background: linear-gradient(135deg, map-get($accent, 900), map-get($accent, 300));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .profile-genres > h2 {
        background: linear-gradient(135deg, map-get($accent, 900), map-get($accent, 300));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .profile-concerts > h2 {
        background: linear-gradient(135deg, map-get($accent, 900), map-get($accent, 300));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .profile-name > h1 {
        background: radial-gradient(ellipse at top left, #04bbc0 23%, transparent),
                    radial-gradient(ellipse at bottom right, #05cfa6 23%, white);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3em !important;
    font-weight: 300 !important;
    margin-bottom: 0 !important;
    }

    // .message-button-container {
    //     //background: linear-gradient(135deg, map-get($primary, 900), map-get($primary, 500));
    //     //background: linear-gradient(135deg, #04bbc0 , #05cfa6 35%);
    //     background: radial-gradient(ellipse at top left, #04bbc0 23%, transparent),
    //                 radial-gradient(ellipse at bottom right, #05cfa6 23%, white);
        
    //     // background: linear-gradient(135deg, #04bbc0 5%, transparent),
    //     //             linear-gradient(336deg, #05cfa6 40%, white);
    //     //background: linear-gradient(135deg, map-get($contrast, 100), map-get($contrast, 900));
    // }

    // .like-button-container {
    //     background: radial-gradient(ellipse at top left, map-get($accent, 900) 13%, transparent),
    //                 radial-gradient(ellipse at bottom right, map-get($accent, 300) 23%, white);
    // }
    .message-button-container-color {
        //background: linear-gradient(135deg, map-get($primary, 900), map-get($primary, 500));
        //background: linear-gradient(135deg, #04bbc0 , #05cfa6 35%);
        background: radial-gradient(ellipse at top left, #04bbc0 23%, transparent),
                    radial-gradient(ellipse at bottom right, #05cfa6 23%, white);
        
        // background: linear-gradient(135deg, #04bbc0 5%, transparent),
        //             linear-gradient(336deg, #05cfa6 40%, white);
        //background: linear-gradient(135deg, map-get($contrast, 100), map-get($contrast, 900));
    }

    .like-button-container-color {
        background: radial-gradient(ellipse at top left, map-get($accent, 900) 13%, transparent),
                    radial-gradient(ellipse at bottom right, map-get($accent, 300) 23%, white);
    }
  }