<!-- <div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presence.onlineUsers$ | async)?.includes(member.username)">
                    <i class="fa fa-user-circle text-success"></i> Online now
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | amDateFormat:'LL'}}</p>
                </div>
                <div>
                    <strong>Member Since:</strong>
                    <p>{{member.created | date: 'longDate'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button (click)="addLike(member)" class="btn btn-primary">Like</button>
                    <button (click)="selectTab('Messages')" class="btn btn-success">Message</button> <!- Tabs are ordered like an array. Messages is the fourth tab so it is in position 3 in the tabs array ->
                </div>
            </div>
        </div>
    </div>

    <div class="col-8" style="z-index: 3;">
        <tabset class="member-tabset" #memberTabs> <-- Template reference variable so the element can be accessed in the component ts ->
            <tab heading='About {{member.knownAs}}' (selectTab)="onTabActivated($event)">
                <h4>Description</h4>
                <p>{{member.introduction}}</p>
                <h4>Looking for</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading='Interests' (selectTab)="onTabActivated($event)">
                <h4>Interests</h4>
                <p>{{member.interests}}</p>
            </tab>
            <tab heading='Photos' (selectTab)="onTabActivated($event)">
                <div *ngIf="showGallery">
                    <gallery gallerize [items]="galleryImages" thumbPosition="bottom"></gallery>
                </div>
                <div *ngIf="!showGallery">
                    <p>No images yet</p>
                </div> 
                <-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages" 
                            style="display: inline-block; margin-bottom: 20px;"></ngx-gallery> ->
            </tab>
            <tab heading='Messages' (selectTab)="onTabActivated($event)">
                <app-member-messages [username]="member.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>  -->


<div class="profile-outer" id="profOuter">
    <div class="image-bio" id="imageBio"  [ngClass]="{ 'flex-column': currentBreakpoint === Breakpoints.XSmall }">
        <div class="profile-image">
            <img src="{{member.photoUrl || './assets/user.png'}}" class="user-photo" alt="{{member.knownAs}}">
            
        </div>
        <div class="profile-info" [class.overflow]="currentBreakpoint !== Breakpoints.XSmall"  id="profInfo">
            <div *ngIf="currentBreakpoint !== Breakpoints.XSmall" class="name-online">
                <div class="profile-name"> <!-- ngIf wide, else plase on top of image-->
                    <h1 class="user-name-large">{{member.username | titlecase}}</h1>
                </div>
                <!-- Possible occupation or other info -->
                <div class="is-user-online" *ngIf="(presence.onlineUsers$ | async)?.includes(member.username)">
                    Online <i class="fa fa-user-circle text-success"></i> 
                </div>
            </div>
            <div class="profile-bio rel">
                <h2 class="bio-header">Bio</h2>
                <p>{{member.introduction}}</p>
                <!-- This will be filled with answers to questions in the new registraation page -->
            </div>
            <div class="location-music-info rel">
                <div class="profile-location">
                    <h2>Location:</h2>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div class="profile-genres">
                    <!-- Question about liked music genres answer will go here -->
                     <h2>Genres:</h2>
                </div>
                <div class="profile-concerts">
                    <h2>Concerts:</h2>
                    <div class="user-concerts-list">
                        <div> <!-- ngFor using member.concerts -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- Need an ngIf. Place here if large. Place in gradient container if small -->
            <div *ngIf="currentBreakpoint === Breakpoints.XSmall" class="message-button-container-rel message-button-container-color">
                <button mat-button routerLink='/messages' [queryParams]="{user: member.username}" class="message-button">Message</button>
            </div>
            <div *ngIf="currentBreakpoint === Breakpoints.XSmall" class="like-button-container-rel like-button-container-color">
                <button mat-button [disabled]="isLiked" (click)="addLike(member)" class="like-button">Like</button> <!-- Add heart icon-->
            </div>
            <div *ngIf="currentBreakpoint === Breakpoints.XSmall" class="member-since-small">
                <!-- <strong>Member Since:</strong> -->
                <p>Member Since {{member.created | date: 'yyyy'}}</p>
            </div>
            
        </div>
    </div>
    <div class="gradient" id="gradient" [ngClass]="{ 'gradient-small': currentBreakpoint === Breakpoints.XSmall,
                                        'gradient-med': currentBreakpoint === Breakpoints.Small || currentBreakpoint === Breakpoints.Medium,
                                        'gradient-landscape': isLandscape }">
        
    </div>
    <div class="gradient-icons" id="gradient-icons" [ngClass]="{ 'gradient-icons-small': currentBreakpoint === Breakpoints.XSmall,
                                                                'gradient-icons-landscape': isLandscape,}">
        <div *ngIf="currentBreakpoint === Breakpoints.XSmall" class="name-online name-online-small">
            <div class="profile-name-small"> <!-- ngIf wide, else plase on top of image-->
                <h1 class="user-name" style="font-size: 3em !important; font-weight: 200; margin-bottom: 0.2;">{{member.username | titlecase}}</h1>
            </div>
            <!-- Possible occupation or other info -->
            <div class="is-user-online" *ngIf="(presence.onlineUsers$ | async)?.includes(member.username)">
                Online <i class="fa fa-user-circle text-success"></i> 
            </div>
            <div class="social-icons social-icons-small">
                <a  mat-mini-fab href="" class=" " target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
                <a  mat-mini-fab href="" class="" target="_blank">
                    <i class='fab fa-instagram'></i>
                </a>
                <a  mat-mini-fab href="" class="" target="_blank">
                    <i class='fab fa-twitter'></i>
                </a>
                <a  mat-mini-fab href="" class="" target="_blank">
                    <i class='fab fa-snapchat'></i>
                </a>
            </div>
        </div>
        
        <div *ngIf="currentBreakpoint !== Breakpoints.XSmall" class="social-icons social-icons-large">
            <a  mat-mini-fab href="" class=" " target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a  mat-mini-fab href="" class="" target="_blank">
                <i class='fab fa-instagram'></i>
            </a>
            <a  mat-mini-fab href="" class="" target="_blank">
                <i class='fab fa-twitter'></i>
            </a>
            <a  mat-mini-fab href="" class="" target="_blank">
                <i class='fab fa-snapchat'></i>
            </a>
        </div>
        <div class="button-container" [ngClass]="{ 'butt-container-large': currentBreakpoint !== Breakpoints.XSmall,
        'butt-container-landscape': isLandscape }">
            <div *ngIf="!isLandscape" class="flex-message message-button-container-color" >
                <button mat-button routerLink='/messages' [queryParams]="{user: member.username}" class="message-button">Message</button>
            </div>
            <div *ngIf="isLandscape" class="message-button-container-color message-fab" >
                <button mat-button routerLink='/messages' [queryParams]="{user: member.username}" class=" ">
                    <mat-icon class="material-icons material-symbols-outlined color_blue message-icon" >chat</mat-icon>
                </button>
            </div>
            <div *ngIf="!isLandscape" class="flex-like like-button-container-color" >
                <button mat-button (click)="addLike(member)" [disabled]="isLiked" class="like-button">Like</button> 
            </div>
            <div *ngIf="isLandscape" class="like-button-container-color like-fab" >
                <button mat-button (click)="addLike(member)" [disabled]="isLiked"  class=" ">
                    <mat-icon class="material-icons color_blue like-icon">
                        favorite_border</mat-icon>
                </button>
            </div>
            <!-- <div class="message-button-container message-button-container-color" [ngClass]=" { 'message-button-container-small': currentBreakpoint === Breakpoints.XSmall,
            'message-button-container-large': currentBreakpoint === Breakpoints.Large || currentBreakpoint === Breakpoints.XLarge }">
                <button mat-button class="message-button">Message</button>
            </div>
            <div class="like-button-container like-button-container-color" [ngClass]=" { 'like-button-container-small': currentBreakpoint === Breakpoints.XSmall,
                    'like-button-container-large': currentBreakpoint === Breakpoints.Large || currentBreakpoint === Breakpoints.XLarge }">
                <button mat-button class="like-button">Like</button> 
            </div> -->
        </div>
        
<!-- [ngClass]="{'member-since-small' : currentBreakpoint === Breakpoints.XSmall,
                        'member-since' : currentBreakpoint !== Breakpoints.XSmall}" -->

        <div [ngClass]="{'member-since-small' : currentBreakpoint === Breakpoints.XSmall && !isLandscape,
                'member-since' : currentBreakpoint !== Breakpoints.XSmall || (currentBreakpoint === Breakpoints.XSmall && isLandscape) }">
            <!-- <strong>Member Since:</strong> -->
            <p>Member Since {{member.created | date: 'yyyy'}}</p>
        </div>
    </div>
    
</div>