<div class="matches-conversations">
    <div *ngIf="matches && matches.length > 0" class="matches-container">
        <!-- user cards go here -->
        <mat-list class="matches-list">
            <div *ngFor="let match of matches" (click)="selectMatch($event, match)">
                <img matListItemAvatar [class.online-border]="(presence.onlineUsers$ | async)?.includes(match.username)" class="match-avatar" src="{{match.photoUrl || './assets/user.png'}}" alt="">
            </div>

        </mat-list>
    </div>
    <mat-divider class="conversation-divider"></mat-divider>
    <div *ngIf="conversations && conversations.length > 0" class="column">
        <h3 class="conversation-header">Messages</h3>
        <mat-list class="conversations-list">
            <div *ngFor="let conversation of conversations" class="" (click)="selectConversation($event, conversation)"> 
            
                <div class="list-item-container">
                    <div class="avatar-name-container">
                        <mat-list-item>
                            <img matListItemAvatar [class.online-border]="(presence.onlineUsers$ | async)?.includes(conversation.otherUser)" class="conversation-avatar" src={{conversation.otherUserPhotoUrl}} alt="">
                            
                            <h3 style="padding-left: 0.5em;" matListItemTitle>{{conversation.otherUser | titlecase}}</h3>
                            <span style="padding-left: 0.5em;" matListItemLine>{{conversation.isSender == true ? 'You: ' : ''}}{{conversation.content}}</span>
                        </mat-list-item>
                    </div>
                    <div class="message-sent-container">
                        <mat-list-item>
                            <span matListItemLine>{{conversation.messageSent | amFromUtc | amTimeAgo }}</span>
                            <!-- <span matListItemLine>{{conversation.dateRead == null ? 'dot' : 'noDot'}}</span> -->
                            <div class="dot-container">
                                <div [class.unread-dot]="conversation.dateRead == null && conversation.isSender == false" matListItemLine></div>
                            </div>
                           
                        </mat-list-item>
                    </div>
                </div>
                <mat-divider class="conversation-divider"></mat-divider>
            </div>
        </mat-list>
    </div> 
</div>

<mat-divider *ngIf="selectedUser" class="page-divider"></mat-divider>

<div [@showHide]="selectedUser ? 'visible' : 'hidden'" *ngIf="selectedUser" class="message-container">
    <div class="message-header">
        <h2 *ngIf="selectedUser">{{selectedUser | titlecase}}</h2>
    </div>
    <div class="message-body"
        #scrollMe
        [scrollTop]="scrollMe.scrollHeight">
        <div *ngIf="(messageService.messageThread$ | async)?.length === 0 && selectedUser">
            No messages yet... say hi by using the message box below
        </div>
        <div 
            *ngIf="(messageService.messageThread$ | async)!.length > 0" 
            class="chat">
            <mat-list *ngFor="let message of (messageService.messageThread$ | async)">
                <div class="chat-item-container" >
                    <div style="display: flex; align-items: center;" [class.space-between]="message.senderUsername == user!.username">
                        <span class="avatar-left" [class.invisible]="message.senderUsername == user!.username">
                            <img matListItemAvatar [class.online-border]="(presence.onlineUsers$ | async)?.includes(selectedUser!)" class="message-avatar" src="{{message.senderPhotoUrl || './assets/user.png'}}" 
                            alt="{{message.senderUsername}}">
                        </span>
                        <div class="chat-body" [class.sender]="message.senderUsername == user!.username" [class.recepient]="message.senderUsername != user!.username">
                            <p>{{message.content}}</p>
                        </div>
                    </div>
                    <div class="time-ago-container" [class.align-right]="message.senderUsername == user!.username">
                        <span>{{message.messageSent | amFromUtc | amTimeAgo}}</span>
                        <span class="unread" *ngIf="!message.dateRead 
                            && message.senderUsername !== user?.username">
                            (unread)
                        </span>
                        <span class="read" *ngIf="message.dateRead 
                            && message.senderUsername !== user?.username">
                            (read {{message.dateRead | amFromUtc | amTimeAgo}})
                        </span>
                    </div>
                </div>
            </mat-list>
        </div>
    </div>
    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input 
                name="messageContent"
                required
                [(ngModel)]="messageContent"
                type="text" 
                class="form-control input-sm" 
                placeholder="Send a message">
                <div class="input-group-append">
                    <button [disabled]="!messageForm.valid || loading" class="btn btn-primary" type="submit">Send
                        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

