@font-face {
    font-family: 'A Gentle Touch';
    src:  url('../../assets/fonts/A\ Gentle\ Touch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    //font-display: block;
  }

@font-face {
    font-family: 'Kells';
    src:  url('../../assets/fonts/Kells.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    //font-display: block;
  }

@font-face {
    font-family: 'Lieselotte';
    src:  url('../../assets/fonts/Lieselotte.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    //font-display: block;
  }

@font-face {
    font-family: 'Meath';
    src:  url('../../assets/fonts/Meath.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    //font-display: block;
  }

@font-face {
    font-family: 'Remachine';
    src:  url('../../assets/fonts/Remachine.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    //font-display: block;
  }
@font-face {
    font-family: 'Nexa Light';
    src:  url('../../assets/fonts/Nexa\ Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    //font-display: block;
  }