/* For use in src/lib/core/theming/_palette.scss */
$md-base: (
    50 : #fdfffb,
    100 : #f9fef5,
    200 : #f5feee,
    300 : #f1fee7,
    400 : #eefde2,
    500 : #ebfddd,
    600 : #e9fdd9,
    700 : #e5fcd4,
    800 : #e2fccf,
    900 : #ddfcc7,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-complementary: (
    50 : #fff9fb,
    100 : #fff1f5,
    200 : #ffe8ee,
    300 : #ffdfe7,
    400 : #ffd8e1,
    500 : #ffd1dc,
    600 : #ffccd8,
    700 : #ffc6d3,
    800 : #ffc0ce,
    900 : #ffb5c5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-contrast: (
    50 : #e0efed,
    100 : #b3d7d3,
    200 : #80bcb5,
    300 : #4da197,
    400 : #268d81,
    500 : #00796b,
    600 : #007163,
    700 : #006658,
    800 : #005c4e,
    900 : #00493c,
    A100 : #7dffe1,
    A200 : #4affd6,
    A400 : #17ffca,
    A700 : #00fcc3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-highlight: (
    50 : #fffef8,
    100 : #fffded,
    200 : #fffce2,
    300 : #fffbd6,
    400 : #fffacd,
    500 : #fff9c4,
    600 : #fff8be,
    700 : #fff7b6,
    800 : #fff6af,
    900 : #fff5a2,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-neutral: (
    50 : #f3f3f3,
    100 : #e2e2e2,
    200 : #cfcfcf,
    300 : #bbbbbb,
    400 : #adadad,
    500 : #9e9e9e,
    600 : #969696,
    700 : #8c8c8c,
    800 : #828282,
    900 : #707070,
    A100 : #fef3f3,
    A200 : #f9c5c5,
    A400 : #ff8b8b,
    A700 : #ff7272,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-light-green: (
    primary: (
        hex: #ebfddd,
        lighter: #FFFFFF,
        darker: #CAD2C5
    ),
    primary-var: (
        hex: #B2B8A3,
        lighter: #D6DBD2,
        darker: #8C9184
    ),
    secondary: (
        hex: #ffd1dc,
        lighter: #FFFFFF,
        darker: #ffd1dc
    ),
    secondary-var: (
        hex: #E0BBE4,
        lighter: #F3E5F5,
        darker: #957DAD
    ),
    background-color: #FAFAFA,
    contrast: #00796b,
    highlight: #fff9c4,
    surface: #F5F5F5,
    on-primary: #004E64,
    on-secondary: #1A1A1A,
    on-background: #333333,
    on-surface: #414A4C,
    on-error: #FFFFFF,
);