<mat-toolbar class="toolbar-nav">
    <!-- <mat-toolbar-row id="pagination-row"> -->
        <!-- <div class="d-flex justify-content-center" 
        [ngClass]="{
            'mobile-pagination-pad-portrait': currentBreakpoint === Breakpoints.XSmall || currentBreakpoint === Breakpoints.Small || currentBreakpoint === Breakpoints.Medium || currentBreakpoint === Breakpoints.Large || currentBreakpoint === Breakpoints.XLarge,
            'mobile-pagination-pad-landscape': mobileBreakpoint === landscapeBreakpoint
            
        }">
    <mat-paginator #paginator
                   class="demo-paginator"
                   (page)="pageChanged($event)"
                   [length]="pagination.totalItems"
                   [pageSize]="pagination.itemsPerPage"
                   [disabled]="false"
                   [showFirstLastButtons]="true"
                   [pageSizeOptions]="[5, 10, 25]"
                   [hidePageSize]="true"
                   [pageIndex]="pagination.currentPage"
                   aria-label="Select page">
    </mat-paginator>
   
    </div> -->
    <!-- </mat-toolbar-row> -->
    <mat-toolbar-row id="nav-toolbar-row">
        
        
        <!-- Show the sidenav hamburger toggle if the screen size is small (600px-960px) or extra small (<599px)   [class.nav-row]="currentBreakpoint === Breakpoints.Large || currentBreakpoint === Breakpoints.Medium"-->
        <!-- <span class="menu-spacer"></span> -->
        <!-- <div [class.nav-row]="currentBreakpoint === Breakpoints.XLarge || currentBreakpoint === Breakpoints.Large || currentBreakpoint === Breakpoints.Medium || currentBreakpoint === Breakpoints.Small || currentBreakpoint === Breakpoints.XSmall">          -->
            <!-- <div *ngIf="currentBreakpoint === Breakpoints.XSmall" class="nav-title">
                <button mat-fab (click)="sidenav.toggle()" color="accent">
                <span [ngClass]="{
                    'transparent': toggleFade,
                    'fade-in-text': !toggleFade,
                    'a-gentle-touch': font === 'A Gentle Touch',
                    'kells': font === 'Kells',
                    'lieselotte': font === 'Lieselotte',
                    'meath': font === 'Meath',
                    'remachine': font === 'Remachine',
                    'roboto': font === 'Roboto',
                    'brand-32px': font === 'Roboto',
                    'brand-42px': font === 'A Gentle Touch' || font === 'Kells' || font === 'Meath',
                    'brand-48px': font === 'Remachine',
                    'brand-64px': font === 'Lieselotte'
                }">
                    {{logoChar}}
                </span>
                </button>
            </div> -->




            <!-- <div *ngIf="currentBreakpoint === Breakpoints.XSmall" class="nav-title">
                <button mat-icon-button (click)="sidenav.toggle()">
                  <mat-icon>menu</mat-icon>
                </button>
            </div> -->
            
            <!-- 
                class="fade-in-text" 
            [ngClass]="{'fade-in-text': font != null}"
            -->
            <div *ngIf="currentBreakpoint === Breakpoints.XLarge || currentBreakpoint === Breakpoints.Large || currentBreakpoint === Breakpoints.Medium || currentBreakpoint === Breakpoints.Small"> 
                <a id="nav-title" class="navbar-brand" routerLink='/' routerLinkActive='active' 
                    [ngClass]="{
                        'transparent': toggleFade,
                        'fade-in-text': !toggleFade,
                        'a-gentle-touch': font === 'A Gentle Touch',
                        'kells': font === 'Kells',
                        'lieselotte': font === 'Lieselotte',
                        'meath': font === 'Meath',
                        'remachine': font === 'Remachine',
                        'roboto': font === 'Roboto',
                        'brand-32px': font === 'Roboto',
                        'brand-42px': font === 'A Gentle Touch' || font === 'Kells' || font === 'Meath',
                        'brand-48px': font === 'Remachine',
                        'brand-64px': font === 'Lieselotte'
                    }"
                    >{{title}}</a>
            </div>
        
            <ng-container *ngIf="accountService.currentUser$ | async">
                <!-- Navbar container for Medium (960px-1280px) and Large (1280px-1920px) sized screens-->
                <div *ngIf="currentBreakpoint === Breakpoints.XLarge || currentBreakpoint === Breakpoints.Large || currentBreakpoint === Breakpoints.Medium" class="nav-items" >
                    <a mat-button class="nav-button-display" id="matches" routerLink='/members' routerLinkActive="nav-button" (click)="testButton($event)">Matches</a>
                    
                    <a mat-button class="nav-button-display" id="concerts" routerLink='/concerts' routerLinkActive="nav-button">Concerts</a>
                    
                    <a mat-button class="nav-button-display" id="lists" routerLink='/lists' routerLinkActive="nav-button">Lists</a>

                    <a mat-button class="nav-button-display" id="messages" routerLink='/messages' routerLinkActive='nav-button'>Messages</a>

                    <a mat-button *appHasRole='["Admin", "Moderator"]' class="nav-button-display" id="admin" routerLink='/admin' routerLinkActive='nav-button'>Admin</a>
                    
                    <a mat-button *appHasRole='["Admin", "Moderator"]' class="nav-button-display" id="errors" routerLink='/errors' routerLinkActive='nav-button'>Errors</a>
                
                </div>

                <div *ngIf="currentBreakpoint === Breakpoints.Small || currentBreakpoint === Breakpoints.XSmall" class="nav-items" >
                    <button mat-flat-button routerLink='/members' routerLinkActive="active-link">
                        <mat-icon class="material-icons color_blue">
                          star_border</mat-icon>
                        <span>Match</span>
                    </button>
                    <button mat-flat-button routerLink='/concerts' routerLinkActive="active-link">
                        <mat-icon class="material-icons color_blue">favorite_border
                        </mat-icon>
                        <span>Concerts</span>
                    </button>
                    <button mat-flat-button routerLink='/lists' routerLinkActive="active-link">
                        <mat-icon class="material-icons color_blue">history</mat-icon>
                        <span>Likes</span>
                    </button>
                    <button mat-flat-button routerLink='/messages' routerLinkActive="active-link">
                        <mat-icon class="material-icons material-symbols-outlined color_blue">chat_border</mat-icon>
                        <span>Messages</span>
                    </button>
                    <!-- <a class="elevate-icon" mat-icon-button routerLink='/members' routerLinkActive='nav-button'>
                        <mat-icon class="icon-display" id="stage-icon" svgIcon="stage-lights-star-1"></mat-icon>
                    </a>
                    <a class="elevate-icon" mat-icon-button routerLink='/concerts' routerLinkActive='nav-button'>
                        <mat-icon class="icon-display" id="concert-icon" svgIcon="full-stage"></mat-icon>
                    </a>
                    <a class="elevate-icon" mat-icon-button routerLink='/lists' routerLinkActive="nav-button">
                        <i id="heart-icon" class="fa fa-heart" aria-hidden="true"></i>
                    </a>
                    <a class="elevate-icon" mat-icon-button routerLink='/messages' routerLinkActive='nav-button'>         -->
                        <!-- <mat-icon id="message-icon">message</mat-icon> -->
                        <!-- <img class="icon-display" id="message-icon" src="../../assets/icons/message-chat-1.png">
                    </a>
                    <button mat-button *appHasRole='["Admin", "Moderator"]' >
                        <a routerLink='/admin' routerLinkActive='active'>Admin</a>
                    </button>
                    <button mat-button *appHasRole='["Admin", "Moderator"]' >
                        <a routerLink='/errors' routerLinkActive='active'>Errors</a>
                    </button> -->

                </div>
    
            </ng-container>
            
            <div class="user-icon-container">
                <!-- <mat-slide-toggle 
                    (change)="toggleBackground($event)">
                </mat-slide-toggle> -->
                <!-- [(ngModel)]="backgroundToggle" -->
                <div *ngIf="(accountService.currentUser$ | async) === null">
                    <div *ngIf="(currentBreakpoint === Breakpoints.Medium || currentBreakpoint === Breakpoints.Large || currentBreakpoint === Breakpoints.XLarge)">
                        <form #loginForm="ngForm" class="nav-items" (ngSubmit)="login()" autocomplete="off">
                            <input 
                            name="username"
                            [(ngModel)]="model.username"
                            class="form-control me-2" 
                            type="text" 
                            placeholder="Username">
                        <input 
                            name="password"
                            [(ngModel)]="model.password"
                            class="form-control me-2" 
                            type="password" 
                            placeholder="Password">
                        <button mat-raised-button color="accent" class="btn btn-success" type="submit">Login</button>
                        </form>
                    </div>
                    <div dropdown class="dropdown" *ngIf="(currentBreakpoint === Breakpoints.Small || currentBreakpoint === Breakpoints.XSmall)">
                        <button mat-raised-button color="accent" (click)="openLoginDialog()" id="login-dropdown">
                            Login
                        </button>
                    </div>
                </div>
                <!-- <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown> -->
                    <div [matMenuTriggerFor]="menu" *ngIf="(accountService.currentUser$ | async) as user" id="userPhoto">
                        <div id="name-photo-container" *ngIf="currentBreakpoint === Breakpoints.Medium || currentBreakpoint === Breakpoints.Large || currentBreakpoint === Breakpoints.XLarge">
                            <h1 style="padding-right: 8px">{{user.knownAs}}</h1>
                            <img id="userImg" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.knownAs}}">
                            <mat-icon><span class="material-icons">arrow_drop_down</span></mat-icon>
                        </div>
                        <div id="user-image-container" *ngIf="currentBreakpoint === Breakpoints.Small || currentBreakpoint === Breakpoints.XSmall">
                            <img id="userImg" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.knownAs}}">
                            <mat-icon id="drop-arrow"><span class="material-icons">arrow_drop_down</span></mat-icon>
                        </div>
                    </div>
                    
                    <!-- <img id="userImg" [matMenuTriggerFor]="menu" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.knownAs}}"> -->
                    
                    <mat-menu #menu="matMenu">
                        <a mat-menu-item routerLink="/member/edit" routerLinkActive='nav-items'>Edit Profile</a>

                        <button mat-menu-item [matMenuTriggerFor]="themeEditor">Edit Theme</button>

                        <button mat-menu-item (click)="openLogoutConfirmDialog();">
                            <span>Logout</span>
                        </button>
                    </mat-menu>

                    <mat-menu #themeEditor="matMenu">
                        <button mat-menu-item [matMenuTriggerFor]="backgroundEditor">Backgrounds</button>
                        <button mat-menu-item [matMenuTriggerFor]="effectEditor">Effects</button>
                        <button mat-menu-item [matMenuTriggerFor]="fontEditor">Fonts</button>
                        <button mat-menu-item [matMenuTriggerFor]="titleEditor">Titles</button>
                    </mat-menu>

                    <mat-menu #backgroundEditor="matMenu" (click)="$event.stopPropagation()">
                        <mat-selection-list #backgrounds
                            (selectionChange)="onBackgroundChange($event, backgrounds.selectedOptions.selected)"
                            (click)="$event.stopPropagation()" 
                            [multiple]="false">
                            <mat-list-option *ngFor="let background of backgroundList" [value]="background" [selected]="background === currentBackground">
                                {{background}}
                            </mat-list-option>
                            </mat-selection-list>
                    </mat-menu>
                    
                    <mat-menu #effectEditor="matMenu" (click)="$event.stopPropagation()">
                        <mat-selection-list #effects
                            (selectionChange)="onEffectChange($event, effects.selectedOptions.selected)"
                            (click)="$event.stopPropagation()" 
                            [multiple]="false">
                            <mat-list-option *ngFor="let effect of effectList" [value]="effect" [selected]="effect === currentEffect">
                                {{effect}}
                            </mat-list-option>
                            </mat-selection-list>
                    </mat-menu>

                    <!-- Radio button version of the font selection -->
                    <!-- <label id="example-radio-group-label">Pick font for the title</label> -->
                    <!-- <mat-menu #fontEditor="matMenu">
                        <mat-radio-group
                            (change)="onFontChange($event)"
                            (click)="$event.stopPropagation()"
                            aria-labelledby="example-radio-group-label"
                            class="example-radio-group"
                            [(ngModel)]="font">
                            <mat-radio-button class="example-radio-button" *ngFor="let font of fontList" [value]="font">
                                {{font}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </mat-menu> -->

                    <!-- Selection list version of the font selection -->
                    <mat-menu #fontEditor="matMenu">
                        <mat-selection-list #fonts
                            (selectionChange)="onFontChange($event)" 
                            (click)="$event.stopPropagation()" 
                            [multiple]="false">
                            <mat-list-option *ngFor="let font of fontList" [value]="font" [selected]="font === currentFont" >
                                {{font}}
                            </mat-list-option>
                        </mat-selection-list>
                    </mat-menu>

                    <mat-menu #titleEditor="matMenu" (click)="$event.stopPropagation()">
                        <mat-selection-list #titles
                            (selectionChange)="onTitleChange($event, backgrounds.selectedOptions.selected)"
                            (click)="$event.stopPropagation()" 
                            [multiple]="false">
                            <mat-list-option *ngFor="let title of titleList" [value]="title" [selected]="title === currentTitle" >
                                {{title}}
                            </mat-list-option>
                        </mat-selection-list>
                    </mat-menu>
                        <!-- <div class="dropdown-divider"></div> -->
                <!-- </div> -->
            </div>

            <!-- <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="nav-items" (ngSubmit)="login()" autocomplete="off">
                <input 
                    name="username"
                    [(ngModel)]="model.username"
                    class="form-control me-2" 
                    type="text" 
                    placeholder="Username">
                <input 
                    name="password"
                    [(ngModel)]="model.password"
                    class="form-control me-2" 
                    type="password" 
                    placeholder="Password">
                <button class="btn btn-success" type="submit">Login</button>
            </form> -->
        <!-- </div> -->
    </mat-toolbar-row>    
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav [autoFocus]="false" (closedStart)="onSidenavClose()">
        
        <mat-nav-list (click)="sidenav.toggle()">

            <a mat-list-item routerLinkActive="sidenav-active" [routerLink]="'/'" [routerLinkActiveOptions]="{exact: true}" aria-selected="false">Home</a>
            <a mat-list-item routerLinkActive="sidenav-active" [routerLink]="'/members'" [routerLinkActiveOptions]="{exact: true}">Matches</a>
            <a mat-list-item routerLinkActive="sidenav-active" [routerLink]="'/concerts'" [routerLinkActiveOptions]="{exact: true}">Concerts</a>
            <a mat-list-item routerLinkActive="sidenav-active" [routerLink]="'/lists'" [routerLinkActiveOptions]="{exact: true}">Lists</a>
            <a mat-list-item routerLinkActive="sidenav-active" [routerLink]="'/messages'" [routerLinkActiveOptions]="{exact: true}">Messages</a>
            <a mat-list-item *appHasRole='["Admin", "Moderator"]' routerLinkActive="sidenav-active" [routerLink]="'/admin'" [routerLinkActiveOptions]="{exact: true}">Admin</a>
            <a mat-list-item *appHasRole='["Admin", "Moderator"]' routerLinkActive="sidenav-active" [routerLink]="'/errors'" [routerLinkActiveOptions]="{exact: true}">Errors</a>
            <a mat-list-item>Close</a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content id="sidenavContent" class="mat-sidenav-content bg-animate" [class.sidenav-content-height-landscape]="mobileBreakpoint === landscapeBreakpoint"  
        [ngClass]="{
            'original': background === 'Original',
            'wave': background === 'Wave',
            'stained': background === 'Stained',
            'drowning-girl': background === 'Drowning Girl',
            'beeple': background === 'Beeple',
            'bg-1': background === 'Bg-1',
            'bg-2': background === 'Bg-2',
            'bg-3': background === 'Bg-3',
            'bg-4': background === 'Bg-4',
            'bg-5': background === 'Bg-5',
            'bg-6': background === 'Bg-6',
            'bg-7': background === 'Bg-7',
            'bg-8': background === 'Bg-8',
            'bg-9': background === 'Bg-9',
            'bg-10': background === 'Bg-10'
        }">
        <ng-container *ngIf="effect === 'Bubbles'">
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul> 
        </ng-container>
        <ng-container *ngIf="effect === 'Orbs'">
            <div class="bg-orbs"></div>
        </ng-container>
        <ng-container *ngIf="effect === 'Particles'">
            <div *ngFor="let n of numSequence(100)" class="circle-container">
                <div class="circle"></div>
            </div>        
        </ng-container>

        

        
        <div style="height: 88vh; z-index: 3;">
            <router-outlet></router-outlet>
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>