@use "sass:map";
@use 'theme-helper';
@use "@angular/material" as mat;
@use "../palettes" as pal;
@use "../typography/config" as typ;
//@use '@angular/material-experimental' as matx;

//@include mat.all-component-themes($light-theme);

$light-primary: mat.define-palette(pal.$md-lightblue);
$light-accent: mat.define-palette(pal.$md-lightbluegray);
$light-warn: mat.define-palette(pal.$md-deepred);
$light-background-color: map-get(pal.$md-lightgray,500);
$dark-background-color: map-get(pal.$md-darkgray, 900);
$light-background-image: "../assets/background-image.svg";
//$light-typography: map-get(typ.$app-typography, $body-1);

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

// $light-theme: mat.define-light-theme(
//     (
//         color: (
//             primary: $light-primary,
//             accent: $light-accent,
//             warn: $light-warn,
//         ),
//         typography: typ.$app-typography,
//     )
// );

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

// $theme: matx.define-theme((
//   color: (
//     theme-type: dark,
//     primary: matx.$m3-violet-palette,
//   ),
//   typography: (
//     brand-family: 'Comic Sans',
//     bold-weight: 900
//   ),
//   density: (
//     scale: -1
//   )
// ));

// $light-theme: theme-helper.modify-background($light-theme, $light-background-color);
$my-theme: theme-helper.modify-background($my-theme, $light-background-color);
//$theme: theme-helper.modify-background($theme, $light-background-color);


// Method of adding a background color to a theme. Found on https://github.com/angular/components/issues/19935#issuecomment-657611078
// $background: map-get($light-theme, background);
// $background: map-merge($background, (background: $dark-background-color));
// $light-theme: map-merge($light-theme, (background: $background));

// @include angular-material-theme($light-theme);
// @include my-app-theme($light-theme);

// Second method of adding a background color
// $light-theme: map-merge(
//     $light-theme,
//     (
//       color: map-merge(
//           map-get($light-theme, color),
//           (
//             background: map-merge(
//                 $mat-light-theme-background,
//                 (
//                   background: $md-lightgray
//                 )
//             )
//           )
//       )
//     )
// );