<div style="display: block; width: 100vw;">
    <div class="text-center mt-3">
        <h2>{{predicate === 'liked' ? 'Members I Like' : 'Members who like me'}}</h2>
    </div>

    <div class="container mt-3">
        <div class="d-flex">
            <div class="btn-group" name="predicate">
                <button id="liked" mat-button class="tab-links" btnRadio="liked" 
                    [(ngModel)]="predicate" (click)="loadLikes(true)">Members I like</button>
                <button id="likedBy" mat-button class="tab-links" btnRadio="likedBy" 
                    [(ngModel)]="predicate" (click)="loadLikes(true)">Members who like me</button>
            </div>
        </div>

        <mat-grid-list class="search-results"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="500"
        (scrolled)="onScroll()" 
        [infiniteScrollContainer]="cont" [cols]="numberOfCols" [rowHeight]="rowHeightRatio"> 
            <div *ngFor="let member of members">
                <mat-grid-tile>
                    <div class="mat-grid-tile-content">
                        <app-member-card [currentBreakpoint]="currentBreakpoint" [member]="member"></app-member-card>
                    </div>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>

    <!-- <div class="d-flex justify-content-center" *ngIf="pagination"
        [ngClass]="{
            'mobile-pagination-pad-portrait': currentBreakpoint === Breakpoints.XSmall || currentBreakpoint === Breakpoints.Small || currentBreakpoint === Breakpoints.Medium || currentBreakpoint === Breakpoints.Large || currentBreakpoint === Breakpoints.XLarge,
            'mobile-pagination-pad-landscape': mobileBreakpoint === landscapeBreakpoint
            
        }">
        <mat-paginator #paginator
            class="demo-paginator"
            (page)="pageChanged($event)"
            [length]="pagination.totalItems"
            [pageSize]="pagination.itemsPerPage"
            [disabled]="false"
            [showFirstLastButtons]="true"
            [pageSizeOptions]="[5, 10, 25]"
            [hidePageSize]="true"
            [pageIndex]="pagination.currentPage"
            aria-label="Select page">
        </mat-paginator>
    </div> -->
</div>