/* For use in src/lib/core/theming/_palette.scss */
$md-pinkgray: (
    50 : #f6eff5,
    100 : #e8d7e7,
    200 : #d9bcd7,
    300 : #caa1c7,
    400 : #be8dbb,
    500 : #b379af,
    600 : #ac71a8,
    700 : #a3669f,
    800 : #9a5c96,
    900 : #8b4986,
    A100 : #ffe7fd,
    A200 : #ffb4f9,
    A400 : #ff81f6,
    A700 : #ff68f4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-lightpurplegray: (
    50 : #f5f2f7,
    100 : #e6deec,
    200 : #d6c8df,
    300 : #c5b2d2,
    400 : #b8a2c9,
    500 : #ac91bf,
    600 : #a589b9,
    700 : #9b7eb1,
    800 : #9274a9,
    900 : #82629b,
    A100 : #ffffff,
    A200 : #eed9ff,
    A400 : #d7a6ff,
    A700 : #cc8cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #3d2f2f,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-purplegray: (
    50 : #efedf3,
    100 : #d7d1e0,
    200 : #bdb3cb,
    300 : #a295b6,
    400 : #8e7ea7,
    500 : #7a6797,
    600 : #725f8f,
    700 : #675484,
    800 : #5d4a7a,
    900 : #4a3969,
    A100 : #d3bbff,
    A200 : #b288ff,
    A400 : #9155ff,
    A700 : #813bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-darkpurple: (
    50 : #e8e8ed,
    100 : #c6c5d3,
    200 : #a19fb6,
    300 : #7b7898,
    400 : #5e5b82,
    500 : #423e6c,
    600 : #3c3864,
    700 : #333059,
    800 : #2b284f,
    900 : #1d1b3d,
    A100 : #8880ff,
    A200 : #584dff,
    A400 : #291aff,
    A700 : #1100ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-cyan: (
    50 : #effefe,
    100 : #d8fcfd,
    200 : #befbfb,
    300 : #a4f9f9,
    400 : #91f7f8,
    500 : #7df6f7,
    600 : #75f5f6,
    700 : #6af3f5,
    800 : #60f2f3,
    900 : #4deff1,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e5ffff,
    A700 : #ccfeff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-lightblue: (
    50 : #f1fdff,
    100 : #dcf9ff,
    200 : #c4f5ff,
    300 : #acf1ff,
    400 : #9beeff,
    500 : #89ebff,
    600 : #81e9ff,
    700 : #76e5ff,
    800 : #6ce2ff,
    900 : #59ddff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fdffff,
    A700 : #e4f9ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-lightbluegray: (
    50 : #edf6f9,
    100 : #d3e8ef,
    200 : #b6d8e4,
    300 : #99c8d9,
    400 : #83bdd1,
    500 : #6db1c9,
    600 : #65aac3,
    700 : #5aa1bc,
    800 : #5098b5,
    900 : #3e88a9,
    A100 : #fafdff,
    A200 : #c7edff,
    A400 : #94ddff,
    A700 : #7ad4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-bluegray: (
    50 : #e7eff2,
    100 : #c3d7df,
    200 : #9bbcc9,
    300 : #72a1b3,
    400 : #548ca3,
    500 : #367893,
    600 : #30708b,
    700 : #296580,
    800 : #225b76,
    900 : #164864,
    A100 : #9ddaff,
    A200 : #6ac6ff,
    A400 : #37b2ff,
    A700 : #1ea9ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-indigo: (
    50 : #e3e6ea,
    100 : #b9bfca,
    200 : #8b95a6,
    300 : #5d6b82,
    400 : #3a4b68,
    500 : #172b4d,
    600 : #142646,
    700 : #11203d,
    800 : #0d1a34,
    900 : #071025,
    A100 : #6287ff,
    A200 : #2f60ff,
    A400 : #003cfb,
    A700 : #0036e1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-deepred: (
    50 : #f5e2e0,
    100 : #e7b6b3,
    200 : #d78680,
    300 : #c6554d,
    400 : #ba3026,
    500 : #ae0c00,
    600 : #a70a00,
    700 : #9d0800,
    800 : #940600,
    900 : #840300,
    A100 : #ffb1b1,
    A200 : #ff7e7e,
    A400 : #ff4b4b,
    A700 : #ff3131,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-lightgray: (
    50 : #f5f6f6,
    100 : #e6e9e9,
    200 : #d6dbdb,
    300 : #c6cccd,
    400 : #b9c1c2,
    500 : #adb6b7,
    600 : #a6afb0,
    700 : #9ca6a7,
    800 : #939e9f,
    900 : #838e90,
    A100 : #ffffff,
    A200 : #eefbfe,
    A400 : #b9f5ff,
    A700 : #a0f1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-darkgray: (
    50 : #eef0f1,
    100 : #d6d8dc,
    200 : #babfc4,
    300 : #9ea5ac,
    400 : #8a919b,
    500 : #757e89,
    600 : #6d7681,
    700 : #626b76,
    800 : #58616c,
    900 : #454e59,
    A100 : #b9d8fe,
    A200 : #87bcfc,
    A400 : #52a0ff,
    A700 : #3892ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-lightblue-alt: (
    50   : #e6faff,
    100  : #b3e6ff,
    200  : #80d2ff,
    300  : #4dcfff,
    400  : #1acbff,
    500  : #00b8ff,
    600  : #00a5e6,
    700  : #0092cc,
    800  : #007fb3,
    900  : #006b99,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e6faff,
    A700 : #b3e6ff,
    contrast: (
        50   : #000000,
        100  : #000000,
        200  : #000000,
        300  : #000000,
        400  : #000000,
        500  : #000000,
        600  : #000000,
        700  : #000000,
        800  : #000000,
        900  : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$md-pinkish: (
    50   : #FFECF4,
    100  : #FFD8ED,
    200  : #ECB7D6,
    300  : #CF9CBA,
    400  : #B2829F,
    500  : #976985,
    600  : #7C516C,
    700  : #623A54,
    800  : #48243C,
    900  : #300F27,
    A100 : #FFFBFF,
    A200 : #FFF8F9,
    A400 : #FFECF4,
    A700 : #FFD8ED,
    contrast: (
        50   : #000000,
        100  : #000000,
        200  : #000000,
        300  : #000000,
        400  : #000000,
        500  : #FFFFFF,
        600  : #FFFFFF,
        700  : #FFFFFF,
        800  : #FFFFFF,
        900  : #FFFFFF,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);






.light {
    --md-sys-color-primary: rgb(133 75 113);
    --md-sys-color-surface-tint: rgb(133 75 113);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(255 216 237);
    --md-sys-color-on-primary-container: rgb(54 7 43);
    --md-sys-color-secondary: rgb(112 87 102);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(251 218 235);
    --md-sys-color-on-secondary-container: rgb(40 22 34);
    --md-sys-color-tertiary: rgb(128 84 63);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(255 219 204);
    --md-sys-color-on-tertiary-container: rgb(49 19 4);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(255 248 249);
    --md-sys-color-on-background: rgb(33 26 29);
    --md-sys-color-surface: rgb(255 248 249);
    --md-sys-color-on-surface: rgb(33 26 29);
    --md-sys-color-surface-variant: rgb(239 222 229);
    --md-sys-color-on-surface-variant: rgb(79 68 74);
    --md-sys-color-outline: rgb(129 115 122);
    --md-sys-color-outline-variant: rgb(211 194 201);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(54 46 50);
    --md-sys-color-inverse-on-surface: rgb(251 237 242);
    --md-sys-color-inverse-primary: rgb(248 177 221);
    --md-sys-color-primary-fixed: rgb(255 216 237);
    --md-sys-color-on-primary-fixed: rgb(54 7 43);
    --md-sys-color-primary-fixed-dim: rgb(248 177 221);
    --md-sys-color-on-primary-fixed-variant: rgb(106 52 89);
    --md-sys-color-secondary-fixed: rgb(251 218 235);
    --md-sys-color-on-secondary-fixed: rgb(40 22 34);
    --md-sys-color-secondary-fixed-dim: rgb(221 190 207);
    --md-sys-color-on-secondary-fixed-variant: rgb(87 64 78);
    --md-sys-color-tertiary-fixed: rgb(255 219 204);
    --md-sys-color-on-tertiary-fixed: rgb(49 19 4);
    --md-sys-color-tertiary-fixed-dim: rgb(244 185 159);
    --md-sys-color-on-tertiary-fixed-variant: rgb(101 61 41);
    --md-sys-color-surface-dim: rgb(228 214 220);
    --md-sys-color-surface-bright: rgb(255 248 249);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(254 240 245);
    --md-sys-color-surface-container: rgb(248 234 240);
    --md-sys-color-surface-container-high: rgb(243 229 234);
    --md-sys-color-surface-container-highest: rgb(237 223 228);
  }
  
