/* For use in src/lib/core/theming/_palette.scss */
$md-pinkgray: (
    50 : #f6eff5,
    100 : #e8d7e7,
    200 : #d9bcd7,
    300 : #caa1c7,
    400 : #be8dbb,
    500 : #b379af,
    600 : #ac71a8,
    700 : #a3669f,
    800 : #9a5c96,
    900 : #8b4986,
    A100 : #ffe7fd,
    A200 : #ffb4f9,
    A400 : #ff81f6,
    A700 : #ff68f4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-lightpurplegray: (
    50 : #f5f2f7,
    100 : #e6deec,
    200 : #d6c8df,
    300 : #c5b2d2,
    400 : #b8a2c9,
    500 : #ac91bf,
    600 : #a589b9,
    700 : #9b7eb1,
    800 : #9274a9,
    900 : #82629b,
    A100 : #ffffff,
    A200 : #eed9ff,
    A400 : #d7a6ff,
    A700 : #cc8cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-purplegray: (
    50 : #efedf3,
    100 : #d7d1e0,
    200 : #bdb3cb,
    300 : #a295b6,
    400 : #8e7ea7,
    500 : #7a6797,
    600 : #725f8f,
    700 : #675484,
    800 : #5d4a7a,
    900 : #4a3969,
    A100 : #d3bbff,
    A200 : #b288ff,
    A400 : #9155ff,
    A700 : #813bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-darkpurple: (
    50 : #e8e8ed,
    100 : #c6c5d3,
    200 : #a19fb6,
    300 : #7b7898,
    400 : #5e5b82,
    500 : #423e6c,
    600 : #3c3864,
    700 : #333059,
    800 : #2b284f,
    900 : #1d1b3d,
    A100 : #8880ff,
    A200 : #584dff,
    A400 : #291aff,
    A700 : #1100ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-cyan: (
    50 : #effefe,
    100 : #d8fcfd,
    200 : #befbfb,
    300 : #a4f9f9,
    400 : #91f7f8,
    500 : #7df6f7,
    600 : #75f5f6,
    700 : #6af3f5,
    800 : #60f2f3,
    900 : #4deff1,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e5ffff,
    A700 : #ccfeff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-lightblue: (
    50 : #f1fdff,
    100 : #dcf9ff,
    200 : #c4f5ff,
    300 : #acf1ff,
    400 : #9beeff,
    500 : #89ebff,
    600 : #81e9ff,
    700 : #76e5ff,
    800 : #6ce2ff,
    900 : #59ddff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fdffff,
    A700 : #e4f9ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-lightbluegray: (
    50 : #edf6f9,
    100 : #d3e8ef,
    200 : #b6d8e4,
    300 : #99c8d9,
    400 : #83bdd1,
    500 : #6db1c9,
    600 : #65aac3,
    700 : #5aa1bc,
    800 : #5098b5,
    900 : #3e88a9,
    A100 : #fafdff,
    A200 : #c7edff,
    A400 : #94ddff,
    A700 : #7ad4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-bluegray: (
    50 : #e7eff2,
    100 : #c3d7df,
    200 : #9bbcc9,
    300 : #72a1b3,
    400 : #548ca3,
    500 : #367893,
    600 : #30708b,
    700 : #296580,
    800 : #225b76,
    900 : #164864,
    A100 : #9ddaff,
    A200 : #6ac6ff,
    A400 : #37b2ff,
    A700 : #1ea9ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-indigo: (
    50 : #e3e6ea,
    100 : #b9bfca,
    200 : #8b95a6,
    300 : #5d6b82,
    400 : #3a4b68,
    500 : #172b4d,
    600 : #142646,
    700 : #11203d,
    800 : #0d1a34,
    900 : #071025,
    A100 : #6287ff,
    A200 : #2f60ff,
    A400 : #003cfb,
    A700 : #0036e1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-deepred: (
    50 : #f5e2e0,
    100 : #e7b6b3,
    200 : #d78680,
    300 : #c6554d,
    400 : #ba3026,
    500 : #ae0c00,
    600 : #a70a00,
    700 : #9d0800,
    800 : #940600,
    900 : #840300,
    A100 : #ffb1b1,
    A200 : #ff7e7e,
    A400 : #ff4b4b,
    A700 : #ff3131,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-lightgray: (
    50 : #f5f6f6,
    100 : #e6e9e9,
    200 : #d6dbdb,
    300 : #c6cccd,
    400 : #b9c1c2,
    500 : #adb6b7,
    600 : #a6afb0,
    700 : #9ca6a7,
    800 : #939e9f,
    900 : #838e90,
    A100 : #ffffff,
    A200 : #eefbfe,
    A400 : #b9f5ff,
    A700 : #a0f1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-darkgray: (
    50 : #eef0f1,
    100 : #d6d8dc,
    200 : #babfc4,
    300 : #9ea5ac,
    400 : #8a919b,
    500 : #757e89,
    600 : #6d7681,
    700 : #626b76,
    800 : #58616c,
    900 : #454e59,
    A100 : #b9d8fe,
    A200 : #87bcfc,
    A400 : #52a0ff,
    A700 : #3892ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

