.nav-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  // .nav-items > * {
  //   //color: mat.get-color-from-palette($primary-palette, '500-contrast') !important;
  //   margin: 0px 5px 0px 0px;
  //   @include mat.elevation-transition();
  //   @include mat.elevation(1);
  // }
  // .nav-button {
  //   box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%) !important;
  //     @include mat.elevation(6);
  //     //color: black !important;
  // }
  .nav-row {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .small-nav-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .remove-flex {
    flex: 0 0 auto !important; 
  }
  .user-arrow {
    display: flex;
    align-items: flex-end;
    margin-left: -8px !important;
    margin-bottom: -2px !important;
  }
  .nav-dropdown {
    display: flex;
    align-items: center;
  }
  #userImg {
    // width: 100% !important;
    // max-width: 100% !important;  
    height: auto !important;  
    border-radius: 50%;
    @include mat.elevation-transition();
    @include mat.elevation(1);
    //align-self: center;
  }
  #userImg:hover {
    @include mat.elevation(6);
    cursor: pointer;
  }
  .nav-button-display {
    @include mat.elevation-transition();
    @include mat.elevation(1);
  }
  .nav-button-display:hover {
    @include mat.elevation(6);
    cursor: pointer;
  }
  // #stage-icon {
  //   border-radius: 50%;
  // }
  // #concert-icon {
  //   border-radius: 50%;
  // }
  #heart-icon {
    color: #f953a9;
    transform: scale(1.4);
  }
  #message-icon {
    // font-size: 40px;
    // vertical-align: middle !important;
    // border: none;
    position: absolute !important;
    top: 50% !important;
    right: 50% !important;
    transform: translate(50%, -50%) scale(2) !important;
  }
  .icon-display {
    transform: scale(2);
    border-radius: 50%;
    border: none !important;
    @include mat.elevation-transition();
    @include mat.elevation(1);
  }
  .icon-display:hover {
    @include mat.elevation(6);
    cursor: pointer;
  }
  .elevate-icon {
    @include mat.elevation-transition();
    @include mat.elevation(1);
  }
  .elevate-icon:hover {
    @include mat.elevation(6);
    cursor: pointer;
  }
  .mat-sidenav-content-gray {
    transition: background 300ms ease-in 200ms;
    // background: url(../assets/backgrounds/background-image.webp);
    background: url(../assets/backgrounds/gray-background.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .mat-sidenav-content-wave {
    transition: background 300ms ease-in 200ms;
    background: url(../assets/backgrounds/wave-background.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .mat-sidenav-content {
    transition: background 300ms ease-in 200ms !important;
    width: 100% !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    overflow-x: hidden !important;

    //display: flex !important;
    // display: block;
    position: static !important;
    height: 92vh !important;
    justify-content: center;
  }
  // .original {
  //   transition: background 300ms ease-in 200ms;
  //   background: url(../assets/backgrounds/gray-background.svg);
  //   width: 100%;
  //   background-repeat: no-repeat;
  //   background-size: 100% 100%;
  // }
  // .wave {
  //   transition: background 300ms ease-in 200ms;
  //   background: url(../assets/backgrounds/wave-background.svg);
  //   width: 100%;
  //   background-repeat: no-repeat;
  //   background-size: 100% 100%;
  // }
  // .stained {
  //   transition: background 300ms ease-in 200ms;
  //   background: url(../assets/backgrounds/stained.svg);
  //   width: 100%;
  //   background-repeat: no-repeat;
  //   background-size: 100% 100%;
  // }
  // .drowning-girl {
  //   transition: background 300ms ease-in 200ms;
  //   background: url(../assets/backgrounds/drowning-girl.svg);
  //   width: 100%;
  //   background-repeat: no-repeat;
  //   background-size: 100% 100%;
  // }
  // .beeple {
  //   transition: background 300ms ease-in 200ms;
  //   background: url(../assets/backgrounds/beeple.svg);
  //   width: 100%;
  //   background-repeat: no-repeat;
  //   background-size: 100% 100%;
  // }
  .original {
    background: url(../assets/backgrounds/gray-background.svg);
  }
  .wave {
    background: url(../assets/backgrounds/wave-background.svg);
  }
  .stained {
    background: url(../assets/backgrounds/stained.svg);
  }
  .drowning-girl {
    background: url(../assets/backgrounds/drowning-girl.svg);
  }
  .beeple {
    background: url(../assets/backgrounds/beeple.svg);
  }
  .user-icon-container {
    display: flex;
  }
  .bg-1 {
    background: linear-gradient(135deg, #ffb6b9 10%, #fae3d9 50%, #bbded6 80%, #8ac6d1 100%);
  }
  .bg-2 {
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(254,250,224,1) 100%);
  }
  .bg-3 {
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,250,240,1) 70%, rgba(253,241,208,1) 100%);
  }
  .bg-4 {
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(240,255,244,1) 70%, rgba(224,255,233,1) 100%);
  }
  .bg-5 {
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(235,245,255,1) 70%, rgba(215,235,255,1) 100%);
  }
  .bg-6 {
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,235,238,1) 50%, rgba(235,245,255,1) 100%);
  }
  .bg-7 {
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(233,255,219,1) 50%, rgba(255,255,204,1) 100%);
  }
  .bg-8 {
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(233,255,219,1) 50%, rgba(255,233,237,1) 100%);
  }
  .bg-9 {
    background: linear-gradient(135deg, #000000 0%, #ffffff 100%);
  }
  .bg-10 {
    background: linear-gradient(135deg, #0000ff 0%, #ff0000 100%);
  }

  .bg-animate {
    background-size: 400% 100% !important;
    animation: gradient 15s ease infinite;
  }

 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


  .fade-in-text {
    transition: opacity 300ms ease-in 200ms;
    opacity: 1 !important;
  }
  // .fade-in-text {
  //   animation: fadeIn 0.5s !important;
  // }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  // .invis {
  //   opacity: 0;
  // }
  .transparent {
    transition: opacity 300ms ease-in 200ms;
    opacity: 0 !important;
  }
  .roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  .a-gentle-touch {
    font-family: "A Gentle Touch";
  }
  .kells {
    font-family: "Kells";
  }
  .lieselotte {
    font-family: "Lieselotte";
    font-weight: 500;
  }
  .meath {
    font-family: "Meath";
  }
  .remachine {
    font-family: "Remachine";
  }
  .brand-24px {
    font-size: 24px !important;
  }
  .brand-32px {
    font-size: 32px !important;
  }
  .brand-42px {
    font-size: 42px !important;
  }
  .brand-48px {
    font-size: 48px !important;
  }
  .brand-64px {
    font-size: 64px !important;
  }
  #name-photo-container {
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
  }
  #user-image-container {
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: flex-end;
    justify-content: flex-end;
  }
  #drop-arrow {
    position: absolute;
  }

  .menu-form-wrapper .mat-menu-content:not(:empty) {
    padding: 0;
  }
  
  // layout for the form
  .menu-form-wrapper .menu-form {
    display: flex;
    flex-direction: column;
    padding: 24px;
  }

  .toolbar-nav {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    //padding: 2em !important;
    //background-color: white;
    white-space: normal !important;
    height: 8vh;
    border-radius: 5%;
    font: caption !important;
  
    -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 2px 2px 4px 5px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  
    button {
      display: flex;
      flex-direction: column;
      align-items: center; 
      width: 100%;
      height: 5em !important;
      font-weight: 400 !important;
      background-color: inherit !important;
      span {
        display: block;
      }
    }
    // button:hover,
    // .active-link {
    //   color: blueviolet !important;
    // }

//   button:hover,
// .active-link {
//   color: blueviolet !important;
}

  .nav-items .material-icons {
    margin: 0 !important;
    height: 1.8rem !important;
    width: 1.8rem !important;
    font-size: 1.8rem !important;
  }

  #nav-toolbar-row {
    justify-content: space-evenly;
    padding: 0;
  }
  .bg-bubbles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    //z-index: -1;
    
    li{
      position: absolute;
      list-style: none;
      display: block;
      width: 40px;
      height: 40px;
      background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,235,238,1) 50%, rgba(235,245,255,1) 100%);
      //background-color: rgba(255, 255, 255, 0.85);
      bottom: -160px;
      border-radius: 50%;
      filter: blur(8px);
      
      -webkit-animation: square 40s infinite;
      animation:         square 40s infinite;
      
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      
      &:nth-child(1){
        left: 10%;
      }
      
      &:nth-child(2){
        left: 20%;
        
        width: 80px;
        height: 80px;
        
        animation-delay: 2s;
        animation-duration: 28s;
      }
      
      &:nth-child(3){
        left: 25%;
        animation-delay: 4s;
      }
      
      &:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        
        animation-duration: 34s;
        
        // background-color: rgba(255, 255, 255, 0.75);
        background-color: rgba(0, 0, 0, 0.85);
      }
      
      &:nth-child(5){
        left: 70%;
      }
      
      &:nth-child(6){
        left: 80%;
        width: 120px;
        height: 120px;
        
        animation-delay: 3s;
        // background-color: rgba(255, 255, 255, 0.8);
        background-color: rgba(0, 0, 0, 0.85);
      }
      
      &:nth-child(7){
        left: 32%;
        width: 160px;
        height: 160px;
        
        animation-delay: 7s;
      }
      
      &:nth-child(8){
        left: 55%;
        width: 20px;
        height: 20px;
        
        animation-delay: 15s;
        animation-duration: 50s;
      }
      
      &:nth-child(9){
        left: 25%;
        width: 10px;
        height: 10px;
        
        animation-delay: 2s;
        animation-duration: 50s;
        // background-color: rgba(255, 255, 255, 0.7);
        background-color: rgba(0, 0, 0, 0.85);
      }
      
      &:nth-child(10){
        left: 90%;
        width: 160px;
        height: 160px;
        
        animation-delay: 11s;
      }
    }
  }

  

  @mixin dots($count) {
    $text-shadow: ();
    @for $i from 0 through $count {
      $text-shadow: $text-shadow,
                   (-.5+(random()) * 3) + em
                   (-.5+(random()) * 3) + em
                   7px
                   hsla(random() * 360, 100%, 50%,.4);
    }
    text-shadow: $text-shadow;
  }

  .bg-orbs {
    display: block;
    font-size: 82px;
    color: transparent;
    z-index: 1;
  }

  // body, head {
  //   display: block;
  //   font-size: 52px;
  //   color: transparent;
  // }
  
  .bg-orbs::before, .bg-orbs::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: '.';
    mix-blend-mode: screen;
    animation: 132s -27s move infinite ease-in-out alternate;
  }
  
  
  .bg-orbs::before {
    @include dots(20);
    animation-duration: 132s;
    animation-delay: -27s;
  }
  
  .bg-orbs::after {
    @include dots(20);
    animation-duration: 132s;
    animation-delay: -32s;
  }
  
  // head::before {
  //   @include dots(40);
  //   animation-duration: 42s;
  //   animation-delay: -23s;
  // }
  
  // head::after {
  //   @include dots(40);
  //   animation-duration: 41s;
  //   animation-delay: -19s;
  // }

  .sparkle-bg {
    width: 100%;
  }
  .circle-container {
    $particleNum: 200;
    $particleColor: hsl(180, 100%, 80%);
  
    position: absolute;
    transform: translateY(-10vh);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
    .circle {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      mix-blend-mode: screen;
      background-image: radial-gradient(
        hsl(180, 100%, 80%),
        hsl(180, 100%, 80%) 10%,
        hsla(180, 100%, 80%, 0) 56%
      );
  
      animation: fade-frames 200ms infinite, scale-frames 2s infinite;
  
      @keyframes fade-frames {
        0% {
          opacity: 1;
        }
  
        50% {
          opacity: 0.7;
        }
  
        100% {
          opacity: 1;
        }
      }
  
      @keyframes scale-frames {
        0% {
          transform: scale3d(0.4, 0.4, 1);
        }
  
        50% {
          transform: scale3d(2.2, 2.2, 1);
        }
  
        100% {
          transform: scale3d(0.4, 0.4, 1);
        }
      }
    }
  
    $particleBaseSize: 8;
  
    @for $i from 1 through $particleNum {
      &:nth-child(#{$i}) {
        $circleSize: random($particleBaseSize);
        width: $circleSize + px;
        height: $circleSize + px;
  
        $startPositionY: random(10) + 100;
        $framesName: "move-frames-" + $i;
        $moveDuration: 28000 + random(9000) + ms;
  
        animation-name: #{$framesName};
        animation-duration: $moveDuration;
        animation-delay: random(37000) + ms;
  
        @keyframes #{$framesName} {
          from {
            transform: translate3d(random(100) + vw, $startPositionY + vh, 0);
          }
  
          to {
            transform: translate3d(random(100) + vw, -$startPositionY - random(30) + vh, 0);
          }
        }
  
        .circle {
          animation-delay: random(4000) + ms;
        }
      }
    }
  }
  
  
  @keyframes move {
    from {
      transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
      transform: rotate(360deg) scale(18) translateX(20px);
    }
  }

  @-webkit-keyframes square {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-120vh) rotate(600deg); }
  }
  @keyframes square {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-120vh) rotate(600deg); }
  }

  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }