<!-- <div mat-dialog-content *ngIf="isVisible" [@visibleHidden]="isVisible ? 'visible' : 'hidden'"    class="app-match-dialog"> -->
<div mat-dialog-content>
    <mat-card style="overflow: hidden;" class="user-card" *ngIf="member">
        <div>
            <p>Match dialog</p>
            <mat-card-content class="card-content">
                <div class="card-img-wrapper">
                    
                </div>
            </mat-card-content>
        </div>
        <div class="card-footer light-theme">
            <!-- <mat-card-footer style="padding: 10px; display: flex; flex-direction: column; flex-shrink: 0;">
                
            </mat-card-footer> -->
        </div>
    </mat-card>
</div>